
<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-md-5  offset-md-2">
    
    <h3><%= listing.title %></h3>

   
    <div class="card mt-3">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" />
      <div class="card-body">
        <p class="card-text">
          Owned by - <i><%= listing.owner.username %></i><br>
          <%= listing.description %><br>
          &#8377;<%= listing.price.toLocaleString("en-IN") %><br>
          <%= listing.location %><br>
          <%= listing.country %><br>
        </p>


        <% if (currUser && String(listing.owner._id) === String(currUser._id)) { %>
          <div class="d-flex gap-3 mt-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
              <button class="btn btn-dark">Delete</button>
            </form>
          </div>
        <% } %>

        <hr>


        <div class="col-12 col-md-8 offset-md-2 mt-5">
          <h4 class="mb-4 text-center">
            <% if (!currUser) { %>Login to <% } %>Leave a Review
          </h4>

          <% if (currUser) { %>
            <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
              <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
              </div>
              <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" required id="comment" cols="30" rows="5" class="form-control" placeholder="Write your review here..."></textarea>
                <div class="invalid-feedback">Please submit some comments for review.</div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-dark">Submit Review</button>
              </div>
            </form>
          <% } %>
        </div>

        <hr>

      
        <% if (listing.reviews.length > 0) { %>
          <div class="row g-3 mt-4">
            <h4 class="mb-3">All Reviews</h4>

            <% for (let review of listing.reviews) { %>
              <div class="col-12 col-md-6">
                <div class="card h-100 shadow-sm p-3">
                  <div class="card-body">
                    <p class="pl-3">@<%= review.author.username %></p>
                    <h5 class="card-title">Rating: <span class="badge bg-warning text-dark"><%= review.rating %> ★</span></h5>
                    <p class="card-text"><%= review.comment %></p>
                  </div>

                  <% if (currUser && String(review.author._id) === String(currUser._id)) { %>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-2" method="POST">
                      <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                  <% } %>
                </div>
              </div>
            <% } %>
          </div>
        <% } %>

      </div>
    </div>
  </div>
</div>
